<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="/home">GiveWave Co.</a></h1>
    <nav id="navbar" class="navbar">
      <style>
        li{
            cursor: pointer;
        }
    </style>
      <ul>
        <li><a class="nav-link scrollto active" (click)="scrollToSection('hero')">Home</a></li>
        <li><a class="nav-link scrollto" (click)="scrollToSection('about')">About Us</a></li>
        <li><a class="nav-link scrollto" (click)="scrollToSection('howto')">How It Works</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['/login']">Get Started</a></li>
        <li><a class="nav-link scrollto" (click)="scrollToSection('contact')">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
