
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@giveway.com</a>
            <i class="bi bi-phone-fill phone-icon"></i> +216 99 777 888
          </div>
          <div class="social-links d-none d-md-block">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </section>
<!-- ======= login Section ======= -->
<section id="login" class="d-flex align-items-center">
  <div class="container position-relative">
    <div class="box">
      <h2>Sign Up</h2>
      <form>
        <div class="inputBox">
            <input type="text" name="firstName" required value="">
            <label>First Name</label>
          </div>
          <div class="inputBox">
            <input type="text" name="lastName" required value="">
            <label>Last Name</label>
          </div>
          <div class="inputBox">
            <input type="email" name="email" required value=""> 
            <label>Email</label>
          </div>
        <div class="inputBox">
          <input type="password" name="password" required value=""
                 onkeyup="this.setAttribute('value', this.value);"
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
          <label>Password</label>
        </div>
        <input type="submit" name="sign-in" value="Sign Up">
      </form>
      <div class="additional-links">
        <p class="signup-link">Already signed up? <a [routerLink]="['/login']">Log In!</a></p>
      </div>
    </div>
  </div>
</section>



    <div class="copyright">
      &copy; Copyright <strong><span>GiveWave Co.</span></strong> All Rights Reserved
  </div>

</body>