body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    overflow-y: auto;
    width: 100%;
    height: auto;
  }
  
  .box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
    margin-top : 40px;
  }
  
  .box h2 {
    margin: 0 0 1.875rem;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .box .inputBox {
    position: relative;
  }
  
  .box .inputBox input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
  }
  
  .box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .box .inputBox input:focus ~ label,
  .box .inputBox input:valid ~ label,
  .box .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 0;
    color: rgb(148, 141, 141);
    font-size: 0.75rem;
  }
  
  .box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: red;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    display: block; /* Set display to block to make it a block-level element */
    margin: 0 auto; /* Center block-level element horizontally */
  }

  
  
  .box input[type="submit"]:hover {
    background-color: rgb(173, 42, 42);
  }


  .copyright {
    border-top: 1px solid #262626;
    text-align: center;
    background-color: black;
    width: 100%;
    color: #fff;
    padding: 10px;
    box-sizing: content-box;
    
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* Add this CSS for the new elements */
.additional-links {
    text-align: center;
  }
  
  .forgot-password,
  .signup-link {
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
    text-align: center !important;

  }
  
  .signup-link a,
  .forgot-password a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link a:hover,
  .forgot-password a:hover {
    text-decoration: underline;
  }
  .container {
    height: 80vh; /* Adjust the height as needed */
    
  }

  .password-input-group {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 35%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color : white;
  }

  .signup-link a{
    font-size: 14px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: bold;
  }

  .alert-danger {
    color: rgb(255, 255, 255);
    font-size: small;
    background-color: rgb(110, 40, 40) !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 0.8rem !important; 
    --bs-alert-padding-y: 0.3rem !important;
  
  }
  

  .home-button {
    position: absolute;
    top: -20px;
    right: 0;
    padding: 10px;
    color: rgb(236, 236, 236);
    font-size: 18px; /* Adjust the font size according to your design */
    text-decoration: none; /* Remove underline initially */
    cursor: pointer;
  }
  
  /* Additional styling for the button */
  .home-button i {
    margin-right: 3px;
  }

  .home-button::after {
    content: '←'; 
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s, text-decoration 0.3s;
    margin-left: 5px; /* Adjust the spacing between the text and arrow */
  }

  .home-button:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .home-button:hover::after {
    opacity: 1;
  }
    