<!-- ======= Top Bar ======= -->
<app-topbar></app-topbar>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="/home">GiveWave Co.</a></h1>
    <nav id="navbar" class="navbar">
      <style>
        li{
          cursor: pointer;
        }
      </style>
      <ul>
        <li><a class="nav-link scrollto active" (click)="goToHome()">Home</a></li>
      </ul>
      <ul>
        <li><a class="nav-link" (click)="logOut()">Log Out</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>

<!-- ======= Home Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <style>
    a{
      cursor: pointer;
    }
  </style>
  <div class="container position-relative">
    <h1>Welcome, {{user.name}}</h1>
    <h2>Change is one step far from you!</h2>
    <a class="btn-get-started scrollto" (click)="scrollToSection('listeofpot')">Consult your Pots</a>
    <a  class="btn-get-started scrollto" (click)="scrollToSection('formpot')">Start Campaign</a>
  </div>
</section>

<section id="listeofpot" class="publicpots">
  <div class="section-title">
    <span>List Pots</span>
    <h2>List Pots</h2>
    <p>Consult, create and make changes however you want</p>
  </div>

  <div class="table-container">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="createPot()">
        <i class="bi bi-plus-circle fa-2x"></i> Add New Pot
      </button>
    </div>
    <table class="table table-striped">
      <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Target Amount</th>
      <th scope="col">Current Amount</th>
      <th scope="col">Start Date</th>
      <th scope="col">Deadline</th>
    </tr>
    </thead>
      <tbody>
    <tr *ngFor="let pot of userPots; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{pot.title}}</td>
      <td>{{pot.category}}</td>
      <td>{{pot.target_amount}}</td>
      <td>{{pot.current_amount}}</td>
      <td>{{pot.start_date | date:'dd MMMM yyyy'}}</td>
      <td>{{pot.deadline | date:'dd MMMM yyyy'}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="displayPot(pot)">
          <i class="bi bi-box-arrow-up-right fa-2x"></i>
        </button>
        <button type="button" class="btn btn-success" (click)="OpenEditPot(pot)">
          <i class="bi bi-gear fa-2x"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="deletePot(pot)">
          <i class="bi bi-trash fa-2x"></i>
        </button>
      </td>
    </tr>
    </tbody>
    </table>
  </div>
</section>

<app-separator></app-separator>

<!-- add pot form -->
<section id="formpot" class="publicpots">
  <div class="section-title">
    <span>Form Pots</span>
    <h2>Form Pots</h2>
    <p>Fill out the form below to start your journey with GiveWave!</p>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card shadow col-lg-8">
          <div class="card-body">
            <form [formGroup]="potForm" (ngSubmit)="onSubmitPot()">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" formControlName="title" [(ngModel)]="newPot.title">
                    <div *ngIf="potForm.get('title')?.invalid && potForm.get('title')?.dirty" class="text-danger">
                      <div *ngIf="potForm.get('title')?.hasError('required')">Title is required.</div>
                    </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="category" class="form-label">Category</label>
                <div class="custom-dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ newPot.category ? newPot.category : 'Select Category' }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                    <div class="form-check" *ngFor="let category of categories">
                      <input class="form-check-input" type="checkbox" id="{{ category.id }}" [checked]="newPot.category === category.value" (change)="onCheckboxChange(category.value)">
                      <label class="form-check-label" for="{{ category.id }}">{{ category.label }}</label>
                    </div>
                  </div>
                </div>
              </div>
            
            
            
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                  <label for="target_amount">Target Amount:</label>
                  <input type="number" class="form-control" id="target_amount" formControlName="target_amount" [(ngModel)]="newPot.target_amount">
                  <div *ngIf="potForm.get('target_amount')?.invalid && potForm.get('target_amount')?.dirty" class="text-danger">
                      <div *ngIf="potForm.get('target_amount')?.hasError('required')">Target Amount is required.</div>
                      <div *ngIf="potForm.get('target_amount')?.hasError('min')">Target Amount should be superior to 0.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="deadline" class="form-label">Deadline</label>
                <input
                  type="date"
                  class="form-control"
                  id="deadline"
                  [(ngModel)]="newPot.deadline"
                  name="deadline"
                  min="{{ minDate() }}"
                  required
                />
              </div>
              </div>
              <div class="mb-3">
                <label for="img_source" class="form-label">Image Source</label>
                <input type="file" class="form-control" id="img_source" (change)="onFileSelected($event)" accept="image/*">
              </div>  
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" [(ngModel)]="newPot.description" name="description" required></textarea>
                <div class="invalid-feedback">Description is required.</div>
              </div>
              <button type="submit" class="btn btn-primary btn1">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</section>

<!-- display pot modal -->
<div class="modal fade" id="potModal" tabindex="-1" aria-labelledby="potModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="potModalLabel">{{ selectedPot.title }} Pot Infomation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <img class="w-100 shadow img" [src]="selectedPot.img_source" alt="{{ selectedPot.title }}" />
            </div>
            <div class="col-lg-6">
              <div class="pot-container1 p-c mt-c">
                <div class="pot-header">
                  <h2 class="titleS"><b>{{ selectedPot.title }}</b></h2>
                </div>
                <h5>Description</h5>
                <p>{{ selectedPot.description }}</p>
                <h5 class="mt-4">Category</h5>
                <p>{{ selectedPot.category }}</p>
                <h5 class="mt-4">Donation progress</h5>
                <div class="progress-container">
                  <span class="progress-bar">
                    <span class="progress-indicator" [style.width]="calculateProgress(selectedPot)"></span>
                  </span>
                </div>
                <div class="amount-label-container">
                  <span class="amount-label amount-left"><i class="bi bi-cash-stack"></i>&nbsp;Current: {{ selectedPot.current_amount }}</span>
                  <span class="amount-label amount-right"><i class="bi bi-bullseye"></i>&nbsp;Target: {{ selectedPot.target_amount }}</span>
                </div>
                <span class="amount-label calen"><i class="bi bi-calendar-check"></i>&nbsp;Deadline: {{ selectedPot.deadline | date:'longDate' }}</span>
                <br>
                <span class="amount-label contributors-label"><i class="bi bi-people-fill"></i>&nbsp;Contributors: {{ selectedPot.contributors.length }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- edit pot modal -->
<div class="modal fade" id="editPotModal" tabindex="-1" aria-labelledby="editPotModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPotModalLabel">Edit Pot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="potForm">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="title_e" class="form-label">Title</label>
                <input type="text" class="form-control" id="title_e" name="title" [(ngModel)]="selectedPot.title" disabled>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="category_e" class="form-label">Category</label>
                <input type="text" class="form-control" id="category_e" name="category" [(ngModel)]="selectedPot.category" disabled>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="target_amount_e" class="form-label">Target Amount</label>
                <input type="number" class="form-control" id="target_amount_e" name="target_amount" [(ngModel)]="selectedPot.target_amount">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="deadline_e" class="form-label">Deadline</label>
                <input type="date" class="form-control" id="deadline_e" name="deadline" [(ngModel)]="selectedPot.deadline">
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="description_e" class="form-label">Description</label>
            <textarea class="form-control" id="description_e" name="description" [(ngModel)]="selectedPot.description"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="updatePot()" data-bs-dismiss="modal">Save changes</button>
      </div> 
    </div>
  </div>
</div>

<!-- confirmation modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to update the pot?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" (click)="confirmUpdate()" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>



<!-- confirmation modal for delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the pot?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
