<app-topbar></app-topbar>

<section id="potdetails" class="d-flex align-items-center">
  <div class="container position-relative">
    <div class="pot-container row">
      <div class="col-lg-6">
          <img class="w-100 shadow img" [src]="pot.img_source" alt="" />
          <div class="pot-container1 p-5 mt-4">
            <h5>Description</h5>
            <p>{{ pot.description }}</p>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="pot-container1 p-5 mt-4">
          <div class="pot-header">
            <h2><b>{{ pot.title }}</b></h2>
          </div>
          <h5 class="mt-4">Category</h5>
          <p>{{ pot.category }}</p>
          <h5 class="mt-4">Donation progress</h5>
          <div class="progress-container">
            <span class="progress-bar">
              <span class="progress-indicator" [style.width]="calculateProgress(pot)"></span>
            </span>
          </div>
          <div class="amount-label-container">
            <span class="amount-label amount-left"><i class="bi bi-cash-stack"></i>&nbsp;Current: {{ pot.current_amount }}</span>
            <span class="amount-label amount-right"><i class="bi bi-bullseye"></i>&nbsp;Target: {{ pot.target_amount }}</span>
          </div>
          <span class="amount-label calen"><i class="bi bi-calendar-check"></i>&nbsp;Deadline: {{ pot.deadline | date:'longDate' }}</span>
          <br>
          <span class="amount-label contributors-label"><i class="bi bi-people-fill"></i>&nbsp;Contributors: {{ pot.contributors.length  }}</span>
          <form [formGroup]="donationForm" (ngSubmit)="redirectToClickToPay()">
            <h5 class="mt-4">Donation Amount :</h5>
            <div class="form-group donation-input">
              <input type="number" class="form-control" id="contribution" name="contribution" formControlName="contribution">
              <button type="submit" class="btn btn-primary" [disabled]="donationForm.invalid">Submit</button>
            </div>
            <br>
            <div *ngIf="donationForm.get('contribution')?.invalid && (donationForm.get('contribution')?.dirty || donationForm.get('contribution')?.touched)" class="alert alert-danger">
              <div *ngIf="donationForm.get('contribution')?.hasError('required')">
                Donation amount is required.
              </div>
              <div *ngIf="donationForm.get('contribution')?.hasError('min')">
                Amount should be > 0
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="copyright">
  &copy; Copyright <strong><span>GiveWave Co.</span></strong> All Rights Reserved
</div>
