<section id="howto" class="howto">
  <div class="section-title">
    <span>How It Works</span>
    <h2>How It Works</h2>
    <p>Discover the simplicity of making a difference with Givewave.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="assets/img/img2.jpg" class="img-fluid" alt="How Givewave Works">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Your Impact, Your Way</h3>
        <p class="fst-italic">
          Givewave empowers you to create positive change effortlessly. Whether you're passionate about a cause or want to start your own campaign, we make giving back accessible and meaningful.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> Explore and support existing campaigns by <a (click)="scrollToSection('publicpots')">donating directly to specific pots</a>.</li>
          <li><i class="bi bi-check-circle"></i> Amplify your impact by <a class="routerlink" [routerLink]="['/login']">starting your own campaign</a>, rallying support for the causes you care about.</li>
          <li><i class="bi bi-check-circle"></i> Join a community that believes in the collective strength of small acts of kindness.</li>
        </ul>
        <p>
          Givewave simplifies the process of making a positive impact. Join us on this journey where every contribution, big or small, creates a wave of change. Start your giving adventure today!
        </p>
      </div>
    </div>
  </div>
</section>
<app-separator></app-separator>
