    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">
  
          <div class="section-title">
            <span>Team</span>
            <h2>Team</h2>
            <p>Meet the creative team behind GiveWave!</p>
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <div class="member">
                <img src="assets/img/team/team-1.jpg" alt="">
                <h4>Mehdi Ben Ghazi</h4>
                <span>Software Engineer</span>
                <p>
                  Lead Developer
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="member">
                <img src="assets/img/team/team-2.jpg" alt="">
                <h4>Cheyma Bahroun</h4>
                <span>Software Engineer</span>
                <p>
                  Designer 
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Team Section -->
      <app-separator></app-separator>