 <!-- ======= Top Bar ======= -->
 <app-topbar></app-topbar>

 <!-- ======= login Section ======= -->
 <section id="login" class="d-flex align-items-center">
  <div class="container position-relative">
    <button (click)="goToHome()" class="btn btn-link btn-home">
      <i class="bi bi-house-door-fill"></i>Home
    </button>
    <div class="box">
      <h2>Sign In</h2>
      <form (submit)="signIn()">
        <div class="inputBox">
          <input type="email"
                 name="email"
                 [(ngModel)]="email"
                 required
                 onkeyup="this.setAttribute('value', this.value);" value="">
          <label>Email</label>
        </div>
        <div class="inputBox">
          <input type="password" name="password"
                 [(ngModel)]="password"
                 required
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                 title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                 onkeyup="this.setAttribute('value', this.value);" value="">
          <label>Password</label>
        </div>
        <div *ngIf="authenticationError" class="alert alert-danger" role="alert">
          Email or Password invalid
        </div>
        <div class="additional-links">
          <p class="forgot-password"><a href="#">Did you forget your password?</a></p>
        </div>
        <input type="submit" name="sign-in" value="Sign In">
      </form>
      <div class="additional-links">
        <p class="signup-link">Don't have an account? <a [routerLink]="['/signup']">Sign up!</a></p>
      </div>
    </div>
  </div>
</section>

 <div class="copyright">
      &copy; Copyright <strong><span>GiveWave Co.</span></strong> All Rights Reserved
  </div>
