<section id="publicpots" class="publicpots">
  <div class="section-title">
    <span>Public Pots</span>
    <h2>Public Pots</h2>
    <p>Check out the available pots for donation. Every penny is worth a change !</p>
  </div>
</section>
<section class="articles">
  <article *ngFor="let pot of pots">
    <div class="article-wrapper">
      <figure>
        <img [src]="pot.imgSrc" alt="" />
      </figure>
      <div class="article-body">
        <h2>{{ pot.title }}</h2>
        <p>
          {{ pot.description }}
        </p>
        <p>
          Montant actuel: {{ pot.amount }}<br>
          Montant cible: {{ pot.targetAmount }}<br>
          Nombre de contributeurs: {{ pot.nbrContributor }}<br>
          Date limite: {{ pot.deadlineDate | date:'longDate' }}
        </p>
        <a href="#" class="read-more">
          Read more <span class="sr-only">about {{ pot.title }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>
