<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="section-title">
    <span>About Us</span>
    <h2>About Us</h2>
    <p>About GiveWave Co. : Our Beliefs & Principles</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="assets/img/img1.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" >
        <h3>Empowering Change, One Wave at a Time</h3>
        <p class="fst-italic">
          At Givewave, we believe in the transformative power of collective giving. Our platform is a space where compassion meets action, and every donation creates ripples of positive change.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> Join a community dedicated to making a difference.</li>
          <li><i class="bi bi-check-circle"></i> Empower impactful projects across various categories.</li>
          <li><i class="bi bi-check-circle"></i> Be a part of something bigger – where every contribution matters.</li>
        </ul>
        <p>
          Givewave is not just a platform; it's a movement fueled by generosity. Together, let's create a world where kindness knows no bounds, and every wave of support builds a brighter future for all.
        </p>
      </div>
    </div>
  </div>
</section>
<app-separator></app-separator>
